<template>
  <v-container>
    <v-layout row wrap justify-center>
      <v-flex v-for="(course, id) in courses" md6 xs12 :key="id">
        <CourseCard
          :key="id"
          :id="course.id"
          :title="course.title"
          :timetable="course.timetable"
          :img-src="course.imgSrc"
          :inscription-link="course.inscriptionLink"
          @course-click="onCourseClick"
        >
        </CourseCard>
      </v-flex>
      <CourseModal ref="courseModal"></CourseModal>
    </v-layout>
  </v-container>
</template>

<script>
import CourseCard from "@/components/CourseCard.vue";
import CourseModal from "@/components/CourseModal.vue";

export default {
  components: {
    CourseCard,
    CourseModal
  },
  props: ["courses"],
  methods: {
    onCourseClick(courseId) {
      const course = this.courses.find(course => course.id === courseId);
      this.$refs.courseModal.show(course);
    }
  }
};
</script>

<style scoped></style>
