<template>
  <v-dialog v-model="dialog">
    <v-card>
      <v-card-title class="headline grey ligthen-2" primary-title>
        {{ course.title }}
      </v-card-title>
      <v-card-text>
        <v-tabs dark color="cyan" show-arrows>
          <v-tab>Descripción</v-tab>
          <v-tab>Disertantes</v-tab>
          <v-tab>Links</v-tab>

          <v-tabs-items>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <div class="course-text mb-1" v-html="getDescription"></div>
                </v-card-text>
              </v-card>
            </v-tab-item>

            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <v-list>
                    <template v-for="(speaker, i) in course.speakers">
                      <v-list-tile :key="speaker.name">
                        <v-list-tile-content>
                          <v-list-tile-title>
                            {{ speaker.name }}
                          </v-list-tile-title>
                          <v-list-tile-sub-title>
                            <v-icon small>fab fa-twitter</v-icon>
                            {{ speaker.twitterAccount }}
                          </v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                      <v-divider :key="i"></v-divider>
                    </template>
                  </v-list>
                </v-card-text>
              </v-card>
            </v-tab-item>

            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <v-list>
                    <template v-for="(link, i) in course.links">
                      <v-list-tile :key="link.link">
                        <v-list-tile-content>
                          <v-list-tile-title>
                            <a :href="link.link" target="_blank">{{
                              link.title
                            }}</a>
                          </v-list-tile-title>
                        </v-list-tile-content>
                      </v-list-tile>
                      <v-divider :key="i"></v-divider>
                    </template>
                  </v-list>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat color="orange" @click="dialog = false" id="close-btn"
          >Cerrar</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      course: {
        title: "",
        description: "",
        links: [],
        speakers: []
      }
    };
  },
  computed: {
    getDescription() {
      return this.course.description + "<hr>" + this.course.requirements;
    }
  },
  methods: {
    show(courseData) {
      this.course = courseData;
      this.dialog = true;
    }
  }
};
</script>

<style scoped>
.course-text {
  text-indent: 1cm;
  text-align: justify;
}
</style>
