<template>
  <v-card elevation="2" class="mr-2 mb-2">
    <v-img :src="imgSrc" aspect-ratio="2.5" data-test="courseImage"> </v-img>
    <v-card-title primary-title>
      <h3 class="headline mb-0" data-test="courseTitle">{{ title }}</h3>
    </v-card-title>
    <v-card-text class="font-weight-bold">
      {{ timetable }}
    </v-card-text>
    <v-card-actions>
      <v-btn flat @click="onClickMore" id="see-more-btn">Ver más</v-btn>
      <v-btn
        flat
        color="orange"
        :href="inscriptionLink"
        target="_blank"
        data-test="inscriptionLink"
        >Inscribirse</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    timetable: {
      type: String,
      required: true
    },
    imgSrc: {
      type: String,
      required: true
    },
    inscriptionLink: {
      type: String,
      required: true
    }
  },
  methods: {
    onClickMore() {
      this.$emit("course-click", this.id);
    }
  }
};
</script>

<style scoped></style>
