<template>
  <v-container>
    <v-layout wrap>
      <v-flex xs12 text-xs-center>
        <div class="headline mb-2">
          <b><a target="_blank" :href="location">¿Dónde?</a></b>
        </div>
        <GmapMap
          :center="center"
          :zoom="zoom"
          map-type-id="terrain"
          class="gmap"
        >
          <GmapMarker
            :key="index"
            v-for="(m, index) in markers"
            :position="m.position"
            :clickable="true"
            @click="center=m.position"
          />
        </GmapMap>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default{
  props: {
    location: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      center: {
        lat: -43.250070,
        lng: -65.308117
      },
      zoom: 16,
      markers: [
        {
          position: {
            lat: -43.250070,
            lng: -65.308117
          }
        }
      ]
    };
  },
  
}
</script>

<style scoped>
.gmap {
  width: 100%;
  height: 25em;
  border: solid 1px;
  border-radius:5px
}
</style>
