<template>
  <v-container>
    <v-layout justify-center wrap>
      <v-flex xs12>
        <h2 class="headline mb-2 text-xs-center">
          Las clases se dictarán los días <b>sábados</b>, comenzando el día
          <b>23/03</b><span>&#x1f4aa;</span>
        </h2>
        <hr />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {};
</script>

<style scoped>
.schedule {
  padding: 0.2em;
  font-size: 1.5em;
  border-style: solid;
  border-color: #f05033;
  border-radius: 5px;
}
span {
  margin-left: 0.25em;
}
</style>
