<template>
  <v-app>
    <Header></Header>
    <v-content>
      <ScheduleInfo></ScheduleInfo>
      <Courses :courses="courses"></Courses>
      <Location :location="unpsjbLocation"></Location>
    </v-content>
    <Footer :repo="repo"></Footer>
  </v-app>
</template>

<script>

import Courses from "@/components/Courses.vue";
import ScheduleInfo from "@/components/ScheduleInfo.vue";
import Location from "@/components/Location.vue";
import Footer from "@/layout/Footer.vue";
import Header from "@/layout/Header.vue";

import courses from "@/data/courses";
import unpsjbLocation from "@/data/location";
import repo from "@/data/repo";

export default {
  name: 'app',
  components: {
    Courses,
    Location,
    ScheduleInfo,
    Header,
    Footer
  },
  data() {
    return {
      courses,
      unpsjbLocation,
      repo
    };
  },
}
</script>

<style>
</style>
