<template>

  <v-footer app height="auto" color="primary lighten-1" absolute>
    <v-layout wrap justify-space-between primary lighten-2 py-3 white--text px-2 xs12>
      <span><b>{{getYear}}</b></span>
          <span>
            Hecho con <i class="fas fa-heart"></i>
            <a :href="repo" target="_blank"> Repo en GitLab</a> 
          </span>
    </v-layout>
  </v-footer>

</template>

<script>
export default{
  props: ["repo"],
  computed: {
    getYear() {
      return (new Date()).getFullYear();
    }
  }
}
</script>

<style scoped>
</style>
