<template>
  <v-toolbar app absolute>
    <v-toolbar-title class="headline text-uppercase">
      <v-img :src="headerImage" height="32" width="32" class="header-image"></v-img>
      <span>DIT</span>
      <span class="font-weight-light">CURSOS 2019</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
  </v-toolbar>
</template>

<script>
export default{
  data() {
    return {
      headerImage: require("@/assets/dit-logo.png")
    };
  },
}
</script>

<style scoped>
.header-image {
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 10px;
  margin-left: 5px;
}
</style>
